{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>
    <hr>
    <a href="{{ path('account') }}">Retourner à mon compte</a><br/>
    <hr>
    {{ form(form) }}
    <hr>


{% endblock %}
